<h5>Create thy Order Here Plz</h5>

<mat-card>

    <form class="login" (submit)="onAddOrder(postOrder)" #postOrder="ngForm">
        <mat-form-field [style.width.px]=300 >
            <input 
                matInput 
                required 
                type="text" 
                ngModel
                name="enteredUserName"
                #userName = "ngModel"
                placeholder="Entreth thy Usernameth Hereth"
                minlength="8"
                />
            <mat-error *ngIf="userName.invalid">{{ usernameError }}</mat-error>
        </mat-form-field>
        <br>
        
        <mat-form-field [style.width.px]=300 >
            <input 
                matInput 
                required
                type="email" 
                ng-pattern = "^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                ngModel
                name="enteredEmail"
                #email = "ngModel"
                placeholder="Entreth thy Witchcraft Mail Address Hereth"
                />
            <mat-error *ngIf="email.invalid">{{ emailError }}</mat-error>
        </mat-form-field>
        <br>
        
        <mat-form-field [style.width.px]=300 >
            <input 
                matInput 
                type="text" 
                ngModel
                name="enteredOrder" 
                placeholder="Entreth thy Order Detailseth Hereth"/>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" color="primary">Placeth Thy Ordereth</button>
    </form>


</mat-card>
